{% load static %}
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" 
                   href="/" class="b-brand">
                    <div class="b-bg">
                        <i class="fas fa-leaf"></i>
                    </div>
                    <span class="b-title">Budberg Terminal</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    
                    <li data-username="Home" 
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span><span class="pcoded-mtext">Home</span></a>
                    </li>
                    <!-- unable to render, revisit another time-->
                    <!--<li data-username="Country View" 
                        class="nav-item {% if 'country' in segment %} active {% endif %}">
                        <a href="/country.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map-pin"></i></span><span class="pcoded-mtext">Country View</span></a>
                    </li>-->
                    <!-- Unable to render, revisit another time -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Dashboards</label>
                    </li>
                    <li data-username="Dashboard" 
                        class="nav-item {% if 'programme' in segment %} active {% endif %}">
                        <a href="/dashboard.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Processing</label>
                    </li>
                    <li data-username="basic components" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Credit Process</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/new-app.html" class="">New Applications</a></li>
                            <li class=""><a href="/customer-management.html" class="">Customer Management</a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Data Sources</label>
                    </li>
                    <li data-username="basic components" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-globe"></i></span><span class="pcoded-mtext">Credit Bureau</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/data-sources/cb-ccris.html" class="">CCRIS</a></li>
                            <li class=""><a href="/data-sources/cb-CTOS-sme.html" class="">CTOS SME Score</a></li>
                            <li class=""><a href="/data-sources/cb-CTOS-i.html" class="">CTOS i-Score</a></li>
                            <li class=""><a href="/data-sources/cb-experian.html" class="">Experian &#40;formerly RAMCI&#41;</a></li>
                        </ul>
                    </li>
                    <li data-username="basic components" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-package"></i></span><span class="pcoded-mtext">Reflex Premium Plus</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/data-sources/reflex-financio.html" class="">Financio</a></li>
                            <li class=""><a href="/data-sources/reflex-kakitangan.html" class="">Kakitangan</a></li>
                            <li class=""><a href="/data-sources/reflex-talenox.html" class="">Talenox</a></li>
                            <li class=""><a href="/data-sources/reflex-storehub.html" class="">StoreHub</a></li>
                            <li class=""><a href="/data-sources/reflex-arms.html" class="">ARMS</a></li>
                            <li class=""><a href="/data-sources/reflex-ikey.html" class="">iKEY EDUTECH</a></li>
                        </ul>
                    </li>
                    <li data-username="basic components" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-chevrons-up"></i></span><span class="pcoded-mtext">Online Revenue</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/data-sources/or-shopee.html" class="">Shopee</a></li>
                            <li class=""><a href="/data-sources/or-lazada.html" class="">Lazada</a></li>
                            <li class=""><a href="/data-sources/or-carousell.html" class="">Carousell</a></li>
                            <li class=""><a href="/data-sources/or-pgmall.html" class="">PG Mall</a></li>
                            <li class=""><a href="/data-sources/or-grabfood.html" class="">Grabfood</a></li>
                            <li class=""><a href="/data-sources/or-foodpanda.html" class="">Foodpanda</a></li>
                            <li class=""><a href="/data-sources/or-aafood.html" class="">AirAsia Food</a></li>
                            <li class=""><a href="/data-sources/or-trevo.html" class="">Trevo</a></li>
                        </ul>
                    </li>
                    <li data-username="basic components" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-book"></i></span><span class="pcoded-mtext">Government</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/data-sources/gov-jpn.html" class="">JPN</a></li>
                            <li class=""><a href="/data-sources/gov-ssm.html" class="">SSM</a></li>
                            <li class=""><a href="/data-sources/gov-lhdn.html" class="">LHDN</a></li>
                            <li class=""><a href="/data-sources/gov-courts.html" class="">Courts</a></li>
                            <li class=""><a href="/data-sources/gov-land.html" class="">Land Office</a></li>
                            <li class=""><a href="/data-sources/gov-jpj.html" class="">JPJ</a></li>
                            <li class=""><a href="/data-sources/gov-tnb.html" class="">TNB</a></li>
                        </ul>
                    </li>

                    <li data-username="license" 
                        class="nav-item {% if 'license' in segment %} active {% endif %}">
                        <a href="/license.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">License &#38 Attribution</span></a></li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Made for RHB Get Your Hack On 2021</label>
                    </li>
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
