{% extends "layouts/base.html" %}

{% block title %} Customer Management {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Customer Management</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a>Processing</a></li>
                                <li class="breadcrumb-item"><i class="feather icon-file-text"></i><a> Credit Process</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Customer Management - Growth Experts Sdn Bhd</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row" style="background-color:#5BC2E7; padding: 25px 25px 25px 25px">
                    <h4>Growth Experts Sdn Bhd passed the 2017 bulk review with no issues.
                        <br>
                        Growth Experts Sdn Bhd passed the 2018 bulk review with no issues.
                        <br>
                        Growth Experts Sdn Bhd passed the 2019 bulk review with no issues.
                        <br>
                        Growth Experts Sdn Bhd passed the 2020 bulk review with no issues.
                        <br>
                        Due for 2021 bulk review in August 2021.
                    </h4>
                    </div>
                    <!-- Left Content -->
                    <div class="row">
                        <div class="col-sm-6 border-right text-center">
                            <div class="row border-bottom">
                                <div class="col-sm-12">
                                    <h5 class="mt-4">
                                        Growth Experts Sdn Bhd | Sendirian Berhad | e-Commerce
                                        <br>
                                        <br>
                                        Business Registration Number: 4886121-T
                                        <a class="label theme-bg text-white f-12">SSM Verified</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="row border-bottom text-center">
                                <div class="col-sm-12">
                                <p>
                                    <br>
                                    <i class="feather icon-globe text-c-green"></i> Growth Experts has been in operation since 2004, in the business of website design. In 2016, they started selling bottles and soft toys on Shopee and Lazada, which became their main segment of business.
                                    <br>
                                    <h6 class="mb-1"><a href="/data-sources/or-shopee.html">Shopee Open Platform API</h6></a>
                                    <br>
                                    <a href="#"><i class="feather icon-monitor text-c-red"></i> Shopee Sales and Orders - Jan 2021 </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <br>
                                    <a href="#"><i class="feather icon-monitor text-c-red"></i> Shopee Sales and Orders - Feb 2021 </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <br>
                                    <a href="#"><i class="feather icon-monitor text-c-red"></i> Shopee Sales and Orders - Mar 2021 </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <br>
                                    <a href="#"><i class="feather icon-monitor text-c-red"></i> Shopee Sales and Orders - Apr 2021 </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <br>
                                    <a href="#"><i class="feather icon-monitor text-c-red"></i> Shopee Sales and Orders - May 2021 </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                </p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-sm-12">
                                    <h5 class="mt-4">
                                        Recommendation: Upsell Bizpower for working capital finance, as their monthly order volume has increased 128% year-on-year.
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Facility</th>
                                                    <th>Year of Approval</th>
                                                    <th>Amount (RM)</th>
                                                    <th>Missed Payments</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Working Capital Loan</th>
                                                    <td>2017</td>
                                                    <td>20,000</td>
                                                    <td>None</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Overdraft</th>
                                                    <td>2021</td>
                                                    <td>50,000</td>
                                                    <td>None</td>
                                                </tr>
                                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Left content ends -->
                        <!-- Right content starts -->
                        <div class="col-sm-6 border-right text-center">
                            <div class="row border-bottom">
                                <div class="col-sm-12">
                                    <img class="rounded-circle" style="width:60px;" src="/static/assets/images/user/avatar-2.jpg" alt="user-profile">
                                    <h5 class="mt-4">
                                        Wan Azhar bin Wan Ismail
                                        <br>
                                        <br>
                                        MyKad (New) : 871103-12-2015
                                        <a class="label theme-bg text-white f-12">CCRIS Verified</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="row border-bottom text-center">
                                <div class="col-sm-12">
                                <p>
                                    <br>
                                    <i class="feather icon-globe text-c-green"></i> Wan Azhar has been a RHB Mass Affluent customer since 2010.
                                    <br>
                                    <h6 class="mb-1">AI verified identification documents</h6>
                                    <br>
                                    <a href="#"><i class="feather icon-file text-c-purple"></i> CTC of MyKad </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <a href="#"><i class="feather icon-file text-c-purple"></i> Certified Guarantor Declaration </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    
                                </p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-sm-12">
                                    <h5 class="mt-4 text-c-green">
                                        No adverse findings from CCRIS check.
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Facility</th>
                                                    <th>Year of Approval</th>
                                                    <th>Amount (RM)</th>
                                                    <th>Missed Payments</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Housing Loan</th>
                                                    <td>2014</td>
                                                    <td>1,300,000</td>
                                                    <td>None</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Hire Purchase</th>
                                                    <td>2019</td>
                                                    <td>250,000</td>
                                                    <td>None</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Credit Card</th>
                                                    <td>2008</td>
                                                    <td>15,000</td>
                                                    <td>None</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Credit Card</th>
                                                    <td>2017</td>
                                                    <td>25,000</td>
                                                    <td>None</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">RHB Premier Current Account</th>
                                                    <td>2010</td>
                                                    <td>82,213</td>
                                                    <td>Not applicable</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Right content ends -->
                    </div>

                    <form>
                        <div class="form-group">
                            <label for="submissioncomments">Relationship Manager Remarks</label>
                            <textarea class="form-control" id="submissioncomments" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
