{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ Programme Performance ] start-->
                        <div class="col-md-6 col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Programme Performance | Jan 2020 - Mar 2021 | Number of SMEs ('000)</h5>
                                </div>
                                <div class="card-block">
                                    <div id="programme-chart" class="ChartShadow" style="height:450px"></div>
                                </div>
                            </div>
                        </div>
                        <!--[ Programme Performance ] end-->
                        <!--[ Monthly  sales section ] starts-->
                        <div class="col-md-6 col-xl-4">
                            <div class="card Monthly-sales">
                                <div class="card-block">
                                    <h6 class="mb-4">Monthly Sales</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$ 2.942.32</h3>
                                        </div>
                                        <div class="col-3 text-right">
                                            <p class="m-b-0">36%</p>
                                        </div>
                                    </div>
                                    <div class="progress m-t-30" style="height: 7px;">
                                        <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <h6 class="mb-4">Yearly Sales</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$ 8.638.32</h3>
                                        </div>
                                        <div class="col-3 text-right">
                                            <p class="m-b-0">80%</p>
                                        </div>
                                    </div>
                                    <div class="progress m-t-30" style="height: 7px;">
                                        <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <h6 class="mb-4">Yearly Sales</h6>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-9">
                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$ 8.638.32</h3>
                                        </div>
                                        <div class="col-3 text-right">
                                            <p class="m-b-0">80%</p>
                                        </div>
                                    </div>
                                    <div class="progress m-t-30" style="height: 7px;">
                                        <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--[ Recent Users ] start-->
                        <div class="col-xl-8 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Recent Approvals</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="user-profile"></td>
                                                    <td>
                                                        <h6 class="mb-1">BSC Bakers Cottage Sdn Bhd | Sendirian Berhad | Retail</h6>
                                                        <p class="m-0">Director & Guarantor: Nabila Aisha</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted">11 JUNE 2021</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted">SJPP</h6>
                                                    </td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-2.jpg" alt="user-profile"></td>
                                                    <td>
                                                        <h6 class="mb-1">Smooth Ride Bicycles | Sole Proprietorship | Retail</h6>
                                                        <p class="m-0">Sole Proprietor: Leonard Ang</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted">11 JUNE 2021</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted">BIZPOWER</h6>
                                                    </td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-3.jpg" alt="user-profile"></td>
                                                    <td>
                                                        <h6 class="mb-1">Great Expectations Design &#38 Creatives Sdn Bhd | Sendirian Berhad | Technology</h6>
                                                        <p class="m-0">Director & Guarantor: Victoria Theseira</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted">11 JUNE 2021</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted">BIZPOWER</h6>
                                                    </td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="user-profile"></td>
                                                    <td>
                                                        <h6 class="mb-1">Lam Hong Distributors Sdn Bhd | Sendirian Berhad | FMCG Distributor</h6>
                                                        <p class="m-0">Director & Guarantor: Lam Xin Yun</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted f-w-300">11 JUNE 2021</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted">Domestic Trade Financing</h6>
                                                    </td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-2.jpg" alt="user-profile"></td>
                                                    <td>
                                                        <h6 class="mb-1">Tan, Choi, &#38 Leong | Partnership | Legal</h6>
                                                        <p class="m-0">Guarantor(s): Tan Boon Hing, Choi Woon Han, Leong Sum Win</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted">11 JUNE 2021</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted">BIZPOWER</h6>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Recent Users ] end-->

                        <!-- [ statistics year chart ] start -->
                        <div class="col-xl-4 col-md-6">
                            <div class="card">
                                <div class="card-block border-bottom">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-alert-triangle f-30 text-c-red"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">201</h3>
                                            <span class="d-block text-uppercase">Defaults and Missed Payments</span>
                                            <h6 class="text-muted mt-4 mb-0">Credit loss ratio within expectation </h6>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block border-bottom">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-trending-up f-30 text-c-green"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">2,358</h3>
                                            <span class="d-block text-uppercase">CROSS SELL AND UPSELL</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-airplay f-30 text-c-blue"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">21&#37</h3>
                                            <span class="d-block text-uppercase">FULLY DIGITAL ONBOARDING</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ statistics year chart ] end -->
                        
                        <!-- [ rating list ] starts-->
                        <div class="col-xl-4 col-md-6">
                            <div class="card user-list">
                                <div class="card-header">
                                    <h5>Risk Distribution</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-green"></i>Low Risk</h6>
                                            <h6 class="align-items-center float-right">6,152</h6>
                                            <div class="progress m-t-30 m-b-20" style="height: 6px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-yellow"></i>Medium Risk</h6>
                                            <h6 class="align-items-center float-right">2,852</h6>
                                            <div class="progress m-t-30  m-b-20" style="height: 6px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <h6 class="align-items-center float-left"><i class="fas fa-star f-10 m-r-10 text-c-red"></i>High Risk</h6>
                                            <h6 class="align-items-center float-right">358</h6>
                                            <div class="progress m-t-30  m-b-20" style="height: 6px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ rating list ] end-->
                        

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
<script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
<script src="/static/assets/js/pages/programmes.js" ></script>
{% endblock javascripts %}
