{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Team Budberg - screencaps</h5>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <a href="/dashboard.html">
                        <img src="/static/assets/dash1.png" alt="dashboard screencap 1"></a>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <a href="/dashboard.html">
                        <img src="/static/assets/dash2.png" alt="dashboard screencap 2"></a>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <img src="/static/assets/license.png" alt="license">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
