{% extends "layouts/base.html" %}

{% block title %} Licenses and Attribution {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Licenses and Attribution</h5>
                                </div>
                                <div class="card-block">
                                    <p>
                                    This hackathon submission was made solely by Johann Oh of Team Budberg.<br><br>
                                    
                                    For any questions or clarification, feel free to contact me - I'd be happy to talk more about this project!<br>
                                    <br>
                                    Made with:<br>
                                    Docker - Apache License 2.0  [Apache Software Foundation]<br>
                                    Python - GPL-compatible Open Source [Python Software Foundation]<br>
                                    Django - BSD Open Source [Django Software Foundation]<br>
                                    Django Datta Able - MIT Open Source [Coded Themes]<br>
                                    Various Images & Logos belong to RHB & are sourced from media published by RHB.


                                    </p>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="card-block border-bottom">
                            <div class="row d-flex align-items-center">
                                <div class="col-auto">
                                    <a href="https://api.whatsapp.com/send/?phone=601116256432&text=Hi%21+I+have+questions+about+the+Budberg+Terminal">
                                    <i class="feather icon-phone-outgoing f-30 text-c-green"></i></a>
                                </div>
                                <div class="col">
                                    <a href="https://api.whatsapp.com/send/?phone=601116256432&text=Hi%21+I+have+questions+about+the+Budberg+Terminal">
                                    <h3 class="f-w-300"> Drop me a message about this project - I'd love to hear your feedback!</h3></a>
                                </div>
                            </div>
                        </div>


                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
