{% extends "layouts/base.html" %}

{% block title %} New Credit Application {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">New Credit Application</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a>Processing</a></li>
                                <li class="breadcrumb-item"><i class="feather icon-file-text"></i><a> Credit Process</a></li>
                                <li class="breadcrumb-item active" aria-current="page">New Application - BSC Bakers Cottage</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <!-- Left Content -->
                    <div class="row">
                        <div class="col-sm-6 border-right text-center">
                            <div class="row border-bottom">
                                <div class="col-sm-12">
                                    <h5 class="mt-4">
                                        BSC Bakers Cottage Sdn Bhd | Sendirian Berhad | Retail
                                        <br>
                                        <br>
                                        Business Registration Number: 28102121-T
                                        <a class="label theme-bg text-white f-12">SSM Verified</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="row border-bottom text-center">
                                <div class="col-sm-12">
                                <p>
                                    <br>
                                    <i class="feather icon-globe text-c-green"></i> BSC Bakers Cottage Sdn Bhd has been in operation for 6 years.
                                    <br>
                                    <h6 class="mb-1">AI verified CTC company documents</h6>
                                    <br>
                                    <a href="#"><i class="feather icon-file text-c-purple"></i> CTC of Company Registration Certificate (Form 9) </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <a href="#"><i class="feather icon-file text-c-purple"></i> CTC of List of Directorship of Company (Form 49) </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <a href="#"><i class="feather icon-file text-c-purple"></i> MBB Bank Statement (Jan - Mar 2021) </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <a href="#"><i class="feather icon-file text-c-purple"></i> MBB Bank Statement (Apr - May 2021) </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <a href="#"><i class="feather icon-file text-c-purple"></i> UOB Bank Statement (Jan - Mar 2021) </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <a href="#"><i class="feather icon-file text-c-purple"></i> UOB Bank Statement (Apr - May 2021) </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <a href="#"><i class="feather icon-file text-c-purple"></i> Company 2021 Projections </a>
                                    <i class="feather icon-x-square text-c-red"></i> 
                                    <br>
                                    <a class="text-c-red">AI evaluation for "Company 2021 Projections.xlsx" unsuccessful. Please review manually.</a>
                                    <br>
                                </p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-sm-12">
                                    <h5 class="mt-4 text-c-green">
                                        No adverse findings from CCRIS check.
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Facility</th>
                                                    <th>Year of Approval</th>
                                                    <th>Amount (RM)</th>
                                                    <th>Missed Payments</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Working Capital Loan</th>
                                                    <td>2018</td>
                                                    <td>40,000</td>
                                                    <td>None</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Bank Guarantee</th>
                                                    <td>2020</td>
                                                    <td>400,000</td>
                                                    <td>None</td>
                                                </tr>
                                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Left content ends -->
                        <!-- Right content starts -->
                        <div class="col-sm-6 border-right text-center">
                            <div class="row border-bottom">
                                <div class="col-sm-12">
                                    <img class="rounded-circle" style="width:60px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user">
                                    <h5 class="mt-4">
                                        Nabila Aisha binti Mohammad Khairul
                                        <br>
                                        <br>
                                        MyKad (New) : 830215-04-9910
                                        <a class="label theme-bg text-white f-12">CCRIS Verified</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="row border-bottom text-center">
                                <div class="col-sm-12">
                                <p>
                                    <br>
                                    <i class="feather icon-globe text-c-green"></i> Nabila Aisha was a Mass Affluent customer with RHB from 2014-2017. Her FD and CASA accounts were closed in 2017.
                                    <br>
                                    <h6 class="mb-1">AI verified identification documents</h6>
                                    <br>
                                    <a href="#"><i class="feather icon-file text-c-purple"></i> CTC of MyKad </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    <br>
                                    <a href="#"><i class="feather icon-file text-c-purple"></i> Certified Guarantor Declaration </a>
                                    <i class="feather icon-check-circle text-c-green"></i>
                                    
                                </p>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-sm-12">
                                    <h5 class="mt-4 text-c-green">
                                        No adverse findings from CCRIS check.
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Facility</th>
                                                    <th>Year of Approval</th>
                                                    <th>Amount (RM)</th>
                                                    <th>Missed Payments</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Housing Loan</th>
                                                    <td>2010</td>
                                                    <td>800,000</td>
                                                    <td>None</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Credit Card</th>
                                                    <td>2012</td>
                                                    <td>30,000</td>
                                                    <td>None</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Credit Card</th>
                                                    <td>2015</td>
                                                    <td>70,000</td>
                                                    <td>None</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Right content ends -->
                    </div>

                    <form>
                        <div class="form-group">
                            <label for="submissioncomments">Relationship Manager Remarks</label>
                            <textarea class="form-control" id="submissioncomments" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
