{% extends "layouts/base.html" %}

{% block title %} Shopee {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Shopee</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-p"></i></a></li>
                                <li class="breadcrumb-item"><a>Data Sources</a></li>
                                <li class="breadcrumb-item"><i class="feather icon-chevrons-up"></i><a> Online Revenue</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Shopee</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="mt-4">
                                Central Credit Reference Information System
                            </h5>
                            <hr>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-overview-tab" data-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="true">
                                        Overview
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-api-tab" data-toggle="pill" href="#pills-api" role="tab" aria-controls="pills-api" aria-selected="false">
                                        API
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-ucnl-tab" data-toggle="pill" href="#pills-ucnl" role="tab" aria-controls="pills-ucnl" aria-selected="false">
                                        Use Cases & Limitations
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-implications-tab" data-toggle="pill" href="#pills-implications" role="tab" aria-controls="pills-implications" aria-selected="false">
                                        Credit Implications
                                    </a>
                                </li>
                            </ul>

                            <!-- text changes in this section only -->

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab">
                                    <p class="mb-0">
                                        CCRIS tracks outstanding or active accounts, pending credit application, and approved credit applications for the last 12 months.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="pills-api" role="tabpanel" aria-labelledby="pills-api-tab">
                                    <p class="mb-0">
                                        CCRIS data is sourced from BNM, via https://eccris.bnm.gov.my/eccris
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="pills-ucnl" role="tabpanel" aria-labelledby="pills-ucnl-tab">
                                    <p class="mb-0">
                                        Coming Soon
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="pills-implications" role="tabpanel" aria-labelledby="pills-implications-tab">
                                    <p class="mb-0">
                                        Coming Soon
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- text changes in this section only -->
                        
                        
                        

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
